doctype
html
  head
    title Booking
    link(rel="stylesheet",href="/src//assets/style.css")
  body
    .wrapper
      .row-select-wrap
        select.room-select
          option 1
          option 2
          option 3
          option 4
      .room-index-wrap
        
      .submit-wrap
        button(type="submit").btn SUBMIT
  script(src="./dist/ts/bookingroom.js")
  script(src="./src/js/script.js")
